<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body class="text-gray-700">
    <div class="container mx-auto px-4">
        <header class="flex justify-between text-2xl py-8 border-b-2 border-blue-100 mb-8">
            <a href="">Tailwind CSS</a>
            <ul class="flex justify-between">
                <li>Контакты:</li>
                <li class="ml-8"><a href="">Github</a></li>
                <li class="ml-8"><a href="">Telegram</a></li>
            </ul>
        </header>
<body>
  <div>{% block content%}
    {% endblock content %}</div>
</body>
</html>